@{
    ViewData["Title"] = "About";
    ViewData["PageName"] = "About";
    ViewData["Name"] = "About";
}

@section SearchBox
{
   <partial name="_SearchBox"/>
}

<div class="alert alert-secondary container col-md-8" role="alert">
    Hello, I am Parsa and I developed this website in my free time. this is a CMS-Project(Content Management System).
    In this site user can see diffrent items and their details. user can register in site and add items to his favourite list.
    this website have admin panel and admin can manage items, categories and users from it.
</div>
