@{
    ViewData["Title"] = "Contact";
    ViewData["PageName"] = "Contact";
    ViewData["Name"] = "Contact";
}

@section SearchBox
{
   <partial name="_SearchBox"/>
}

<div class="card container col-md-8">
  <div class="card-header">
    Contact
  </div>
  <div class="card-body">
      <strong>Phone:</strong> +98 939 290 6609<br>
      <strong>Email:</strong> parsaddshi2002@gmail.com<br>
      <a href="https://github.com/ParsaDdshi" class="github"><i class="bi bi-github fa-2x"></i></a>
      <a href="https://t.me/Parsa_Ddsh" class="telegram"><i class="bi bi-telegram fa-2x"></i></a>
  </div>
</div>