@{
    ViewData["Title"] = "Not Found";
    ViewData["PageName"] = "404";
    ViewData["Name"] = "404";
}

@section SearchBox
{
   <partial name="_SearchBox"/>
}

<div class="alert alert-danger container col-md-8" role="alert">
  <h1>404 - Page not found</h1>
  <p>Oops, better check that URL.</p>
</div>
