@model List<Item>

@{
    ViewData["Title"] = "Search";
}

@section SearchBox
{
    <partial name="_IndexHeaderBox"/>
}

<!-- ======= Items Section ======= -->
    <section id="service" class="services pt-0">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <span>Searched Items</span>
          <h2>Searched Items</h2>
        </div>
        <div class="row gy-4">
        @if(Model.Count == 0)
        {
            <div class="alert alert-danger">
                <h5>
                    No Item Found.
                </h5>
                </div>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <partial name="_ItemBox" model="item"/>
                } 
            }
        </div>
    </div>
    </section><!-- End Items Section -->