@model List<Item>

@{
    ViewData["Title"] = ViewBag.CategoryName;
    ViewData["PageName"] = ViewBag.CategoryName;
    ViewData["Name"] = ViewBag.CategoryName;
}

<!DOCTYPE html>

@section SearchBox
{
    <partial name="_SearchBox"/>
}


<section id="service" class="services pt-0">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <span>@ViewBag.CategoryName Items</span>
      <h2>@ViewBag.CategoryName Items</h2>
    </div>
    <div class="row gy-4">
      @foreach (var item in Model)
      {
        <partial name="_ItemBox" model="item"/>
      }
    </div>
  </div>
</section>

<partial name="_FavouriteItems"/>