@using CMS.Services.Interfaces;
@inject IItemService _itemService

<li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
  <ul>
    @foreach(var item in _itemService.GetCategories())
    {
      <li><a href="#">@item.CategoryName</a></li>
    }
        
  </ul>
</li>