@using CMS.Services.Interfaces;
@inject IItemService _itemService

<li class="dropdown"><a href="#"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
  <ul>
    @foreach(var item in _itemService.GetCategories())
    {
      <li><a asp-controller="Home"
             asp-action="ShowItemsByCategory"
             asp-route-id="@item.CategoryId"
             asp-route-CategoryName="@item.CategoryName">@item.CategoryName</a></li>
    }
        
  </ul>
</li>