 <!-- ======= Navbar ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <h6 href="#" class="logo d-flex align-items-center">
            @if(User.Identity.IsAuthenticated)
            {
              <a asp-controller="Account" asp-action="UserProfile" class="text-white"> Profile </a> 
            }
            else
            {
              <a asp-controller="Account" asp-action="Register" class="text-white">Register/ </a>
              <a asp-controller="Account" asp-action="Login" class="text-white"> Login </a>    
            }              
      </h6>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a asp-controller="Home" asp-action="Index">Home</a></li>
          <li><a asp-controller="Home" asp-action="About">About</a></li>
          <partial name="_CategoriesInNavbar"/>
          <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header><!-- End Navbar -->
