<div class="col-lg-3">
  <div class="services-list">
    <a asp-controller="Account" asp-action="UserProfile">Profile</a>
    <a asp-controller="Account" asp-action="EditInformation">Edit Information</a>
    <a asp-controller="Account" asp-action="ChangePassword">Change Password</a>
  </div>  
</div>