@page
@model CMS.Pages.Admin.ManageCategories.CategorySearchModel
@{
    ViewData["Title"] = "Index";
}

<h1>Category Search</h1>

<p>
    <a class="btn btn-success" asp-page="Create">Create New</a>
</p>
<hr />

<form class="form-inline" asp-page="/Admin/ManageCategories/CategorySearch" method="post">
  <partial name="_SearchBox"/>
</form>

<div class="row">
    <div class="col-md-9">
      @if(Model.Category.Count() == 0)
      {
        <div class="alert alert-danger">
          <h5>
            There are no Category to show.
          </h5>
            </div>
      }
      else
      {
        <table class="table">
          <thead>
            <partial name="_CategoryTableHeader"/>
          </thead>
          <tbody>
            <partial name="_CategoryTable" model="@Model.Category"/>
          </tbody>
        </table>            
      }

    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Categories</h5>
          <partial name="_Categories"/>
        </div>
      </div>
    </div>
</div>