@page
@model CMS.Pages.Admin.IndexModel
@{
    ViewBag.Title = "Manage Items";
}

<h3>Items</h3> 
<a asp-page="Add" class="btn btn-success">Add Item</a>
<form class="form-inline">
  <div class="form-group mb-2">
    <label for="staticEmail2" class="sr-only">Email</label>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Confirm identity</button>
</form>
<hr />
<div class="row">
  <div class="col-md-9">
    <table class="table table-hover">
      <thead>
      <thead>
        <partial name="_ItemTableHeader"/>
      </thead>
      <tbody>
        <partial name="_ItemTable" model="Model.Items"/>
      </tbody>
    </table>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <partial name="_Categories"/>
      </div>
    </div>
  </div>
</div>

