@page
@model CMS.Pages.Admin.ItemSearchModel
@{
    ViewBag.Title = "Item Search";
}

<h3>Item Search</h3> 
<a asp-page="Add" class="btn btn-success">Add Item</a>
<br />
<hr />
<form class="form-inline" asp-page="/Admin/ItemSearch" method="post">
  <partial name="_SearchBox"/>
</form>
<div class="row">
  <div class="col-md-9">
    @if (Model.Items.Count() == 0)
    {
      <div class="alert alert-danger">
        <h5>
          There are no Item to show.
        </h5>
      </div>
    }
    else
    {
      <table class="table table-hover">
        <thead>
          <partial name="_ItemTableHeader"/>
        </thead>
        <tbody>
          <partial name="_ItemTable" model="Model.Items"/>
        </tbody>
      </table>            
    }
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Categories</h5>
        <partial name="_Categories"/>
      </div>
    </div>
  </div>
</div>