@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    ViewData["PageName"] = "Change Password";
    ViewData["Name"] = "Change Password";
}


@section SearchBox
{
    <partial name="_SearchBox"/>
}

    <section id="get-a-quote" class="get-a-quote">
      <div class="container" data-aos="fade-up">
        <div class="row g-0 d-flex justify-content-center">
          <div class="col-lg-7">
            <form asp-action="ChangePassword" method="post">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <h3>Change Password</h3>
              <div class="row gy-4">

                <div class="col-md-12">
                  <input asp-for="OldPassword" type="password" class="form-control" placeholder="Old Password">
                  <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                  <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
                  <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                  <input asp-for="ReNewPassword" type="password" class="form-control" placeholder="Repeat New Password">
                  <span asp-validation-for="ReNewPassword" class="text-danger"></span>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Change Password</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </section>