@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    ViewData["PageName"] = "Login";
    ViewData["Name"] = "Login";
}


@section SearchBox
{
    <partial name="_SearchBox"/>
}

    <section id="get-a-quote" class="get-a-quote">
      <div class="container" data-aos="fade-up">
        <div class="row g-0 d-flex justify-content-center">
          <div class="col-lg-7">
            <form asp-action="Login" method="post">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <h3>Login</h3>
              <div class="row gy-4">

                <div class="col-md-12">
                  <input asp-for="UserNameOrEmail" type="text" class="form-control" placeholder="User Name / Email">
                  <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                  <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                  <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe"/> Remember Me
                  </label>
                </div>
                
                <div>
                    <a asp-controller="Account" asp-action="Register">
                      <i class="bi bi-person-circle"></i> Registeration
                    </a>
                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Login</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Get a Quote Section -->