@model RegisterViewModel

@{
    ViewData["Title"] = "Registeration";
    ViewData["PageName"] = "Registeration";
    ViewData["Name"] = "Registeration";
}


@section SearchBox
{
    <partial name="_SearchBox"/>
}

    <section id="get-a-quote" class="get-a-quote">
      <div class="container" data-aos="fade-up">
        <div class="row g-0 d-flex justify-content-center">
          <div class="col-lg-7">
            <form asp-action="Register" method="post">
              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <h3>Register</h3>
              <div class="row gy-4">

                <div class="col-md-12">
                  <input asp-for="UserName" type="text" class="form-control" placeholder="User Name">
                  <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                  <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                  <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                  <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                  <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                  <input asp-for="RePassword" type="password" class="form-control" placeholder="Repeat Password">
                  <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>

                <div>
                    <a asp-controller="Account" asp-action="Login">
                      <i class="bi bi-box-arrow-in-right"></i> Login
                    </a>

                </div>

                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Get a Quote Section -->