@model User

@{
    ViewData["Title"] = "Successful Registeration";
    ViewData["PageName"] = "Registeration was Successful";
    ViewData["Name"] = "Successful Registeration";
}

@section SearchBox
{
    <partial name="_SearchBox"/>
}

<section class="sample-page">
  <div class="container" data-aos="fade-up">
    <div class="alert alert-success">
      <h6>Hello, @Model.UserName</h6>
      <p>Your registeration was successful.</p>
      <p>Click on the link below to enter the site.</p>
      <a href="#">Login</a>
    </div>
  </div>
</section>