<div class="row">
  <div class="input-group mb-3 col-md-6">
    <input type="text" class="form-control" placeholder="Search" name="search">
    <div class="input-group-append">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </div>
  </div>
</div>